@import "libs/helpless.less";

#hl.meyer-reset();

body {
  font-family: georgia, times, serif;
  #hl.text-shadow(0px, 1px, 1px, rgba(255, 255, 255, 0.5));
  padding: 10px;
  background: #f9f9f9 url('../img/bg.png') repeat top left;
  line-height: 1.5em;
  color: #555;
}

p { 
  color: #555;
}

pre {
  background-color: #f1f1f1;
}

a, a:active, a:visited { 
  color: #00b2ca;
  text-decoration: none;
}
a:hover {
  color: #007787;
}

button {
  -webkit-appearance: button;
  display: inline-block;
  #hl.round-all-corners(4px);
  #hl.background-gradient(#ccc, #f5f5f5, #ccc);
  #hl.inner-shadow(0px, 1px, 1px, rgba(255, 255, 255, 0.8));
  #hl.text-shadow(1px, 1px, 1px, rgba(255, 255, 255, 0.8));
  #hl.transition(background-position, 0.3s, ease-in-out);
  outline: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  padding: 10px 15px;
  cursor: pointer;
  color: #444;
  font-size: 0.9em;
}

button:hover {
  background-position: 0px -10px;
}

button.download {
  font-size: 1.0em;
}

button.download .download-icon {
  width: 14px;
  height: 18px;
  display: block;
  float: right;
  margin-left: 8px;
  background: url('../img/download-icon.png') no-repeat 0px 0px;
  opacity: 0.7;
  #hl.transition(opacity, 0.3s, ease-in-out);
}
button.download:hover .download-icon {
  opacity: 1.0;
}

.standard-box() {
  background-color: #bbcc00;
  height: 100px;
  #hl.round-all-corners(4px);
}

#scroll-to-top {
  position: fixed;
  top: 200px;
  right: 20px;
  display: none;
  cursor: pointer;
  #hl.round-all-corners(8px);
  width: 68px;
  height: 64px;
  text-indent: -9999px;
  background: #e0e0e0 url('../img/to-top.png') no-repeat 0px 0px;
  #hl.transition(background-position, .3s, ease-in-out);
}

#scroll-to-top:hover {
  background-position: 0px -64px;
}

#container {
  background-color: #fff;
  width: 80%;
  max-width: 500px;
  padding: 20px 20px 0px 20px;
  margin: 10px auto;
  font-size: 85%;
  #hl.round-all-corners(30px);
  #hl.drop-shadow(0px, 3px, 2px, rgba(0, 0, 0, 0.05));
}
header {
  text-align: center;
}
  header img {

  }
  header h1 {
    font-family: 'Lobster Two', georgia, times, serif;
    color: #555;
    letter-spacing: -0.03em;
    font-size: 4.0em;
    font-style: italic;
    font-weight: bold;
    padding: 20px 0px 50px 0px;
  }

#main #intro {
  margin: 20px 0 20px 0; 
  line-height: 1.5em;
  color: #555;
}
#main #intro p {
  margin-bottom: 5px;
}

#main article:first-child {
  border-top: 1px solid #e1e1e1;
}
#main article {
  padding: 0px 0;
  border-bottom: 1px solid #e1e1e1;
}
  #main article h2 {
    padding: 10px 0px;
    font-weight: normal;
    #hl.transition(all, 0.3s, ease-in-out);
  }
  #main article h2:hover, #main article.active h2 {
    padding-left: 10px;
  }
  #main article h2:hover {
    background: #ddd;
    color: #333;
  }
  #main article.active h2 {
    background: #333;
    color: #f1f1f1;
    text-shadow: none;
  }
    #main article h2 span.toggle {
      width: 21px;
      height: 16px;
      display: block;
      float: right;
      margin-top: 5px;
      margin-right: 10px;
      background: url('../img/toggle.png') no-repeat 0px 0px;
      opacity: 0.2;
      #hl.transition(opacity, 0.3s);
    }
    #main article h2:hover span.toggle {
      opacity: 1.0;
    }
    #main article.active h2 span.toggle {
      background-position: 0px -17px;
    }
  .jquery #main article h2 {
    cursor: pointer;
  }
  #main article .content {
    border-top: 1px solid #e1e1e1;
    padding: 10px; 
    text-shadow: none;
  }
  #main article .description p {
    font-size: 0.95em;
    padding: 10px;
    margin-bottom: 10px;
    font-family: arial;
    background-color: #f9f9f9;
    #hl.round-all-corners(3px);
    line-height: 1.5em;
  }
  #main article .example {
  }
    #main article .example div {
      width: 80%;
      max-width: 300px;
      margin: 10px auto;
      padding: 10px;
      .standard-box();
    }
  #main article h3 {
    padding: 6px 0px;
    font-family: arial;
    color: #666;
    #hl.text-shadow(0px, 1px, 1px, rgba(255, 255, 255, 0.5));
  }
  #main article pre {
    font-size: 0.8em;
    border: none;
    font-family: monaco, sans-serif;
    line-height: 1.5em;
    #hl.round-all-corners(3px);
  }
  #main article .ref {
    padding: 10px 0 0 0;
  }

footer {
  padding: 10px 0 0 0;
  text-align: center;
}
  footer p {
    padding: 10px 0;
    font-size: 0.8em;
    font-family: arial;
  }
  footer p.copy {
    color: #aaa;
    margin-top: 10px;
    border-top: 1px dotted #e1e1e1;
  }

/* .border */
#main #border .example div {
  #hl.border(#bbcc00);
  #hl.round-all-corners(0px);
  background-color: #fff;
}

/* .round-all-corners */
#main #round-all-corners .example div {
  background-color: #bbcc00;
  #hl.round-all-corners(10px);
}

/* .rounded-corners */
#main #rounded-corners .example div {
  background-color: #bbcc00;
  height: 100px;
  #hl.rounded-corners(10px, 20px, 30px, 40px);
}

/* .transition */
#main #transition .example div {
  background-color: #555;
  height: 100px;
  #hl.round-all-corners(4px);
  #hl.transition(background-color, 0.3s, ease-in-out);
}
  #main #transition .example div:hover {
    background-color: #004477;
  }
  #main #transition .example div p {
    color: #fff;
  }

/* .drop-shadow */
#main #drop-shadow .example div {
  #hl.drop-shadow(0px, 2px, 3px, rgba(0, 0, 0, 0.4));
}

/* .inner-shadow */
#main #inner-shadow .example div {
  #hl.inner-shadow(0px, 2px, 3px, rgba(0, 0, 0, 0.4));
}

/* .text-shadow */
#main #text-shadow .example div {
  background-color: #888;
  height: 100px;
  #hl.round-all-corners(4px);
  #hl.text-shadow(0px, 1px, 1px, rgba(255, 255, 255, 0.8));
}
  #main #text-shadow .example div p {
    color: #000;
  }

/* .background-gradient */
#main #background-gradient .example div {
  #hl.background-gradient(#23608f, #00c5e2, #23608f);
}
  #main #background-gradient .example div p {
    color: #fff;
  }

/* .columns */
#main #columns .example div {
  color: #444;
  height: 200px;
  background-color: #f1f1f1;
  #hl.round-all-corners(4px);
  #hl.columns(2, 20px);
}
  #main #columns .example div p {
    font-size: 0.8em;
  }

/* .scale */
#main #scale .example div {
}

#main #scale .example div p {
  #hl.scale(2);
}

/* .scaleX */
#main #scale-x .example div {
}

#main #scale-x .example div p {
  #hl.scaleX(2);
}

/* .scaleY */
#main #scale-y .example div {
}

#main #scale-y .example div p {
  #hl.scaleY(2);
}

/* .rotate */
#main #rotate .example div {
  #hl.rotate(-10deg);
}

/* .rotate-x */
#main #rotate-x .example div {
  #hl.rotateX(45deg);
}

/* .rotate-y */
#main #rotate-y .example div {
  #hl.rotateY(45deg);
}

/* .skew */
#main #skew .example div {
  #hl.skew(10deg, 10deg);
}

/* .skewX */
#main #skew-x .example div {
  #hl.skewX(-10deg);
}

/* .skewY */
#main #skew-y .example div {
  #hl.skewY(-10deg);
}

/* .translate */
#main #translate .example div {
  #hl.translate(80px, 50px);
}

/* .translateX */
#main #translate-x .example div {
  #hl.translateX(80px);
}

/* .translateY */
#main #translate-y .example div {
  #hl.translateY(50px);
}

/* .matrix */
#main #matrix .example div {
  #hl.matrix(0.586, 0.3, -0.6, 0.586, 40, 20);
}


